<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mt-5">
        <%= image_tag "questionhito.png", style: 'width:500px; height:450px;' %>
      </div>

      <div class="faq-item mb-4 p-4 bg-light rounded shadow-sm">
        <h4 class="font-weight-bold">
          Q: 退会したい時はどうしたらいいですか？
        </h4>
        <p class="text-muted">
          A: 自身のマイページから、編集ボタンをクリックしていただくと、退会ボタンが表示されます。<br>
             そちらから、退会ください。（退会されたアカウントはログインすることができなくなります。)
        </p>
      </div>
    </div>
  </div>
</div>
