<div class = "container mt-5" >
  <div class = "row" >
    <div class = "col-12">
      <!--<div class = "text-center mb-5" >-->
        <!--<h2 class = "display-4" ><i class="fa-solid fa-paw"></i> about <i class="fa-solid fa-paw"></i></h2>-->
      <!--</div>-->

      <div class = "text-center mb-5" >
          <h5 class = "text-center mt-5">
             <strong>「 犬限定</strong>のトリミングスタイル投稿サイトです。<br>
            飼い主さんとトリマーさんがペットのトリミングスタイルを<br>
            投稿、共有できます。情報交換にご利用ください。 <strong>」</strong>
          </h5>

          <h3 class = "text-center mt-5">
            <%= image_tag "tukaikata.png", style: 'width:280px; height:250px;' %>
          </h3>
          <div class="text-center mt-5">
            <%= image_tag "tukaikatanew.png", style: 'width:450; height:400;' %>
            <p>登録/ログイン後は、マイページからプロフィール画像や自己紹介を入力できます。</p>
          </div>
          <div class="text-center mt-5">
            <%= image_tag "tukaikatatoukou.png", style: 'width:450; height:400;' %>
            <p>
              タイトルには犬種を入力して、説明にはカット名やシャンプー名など入力します。<br>
              写真は、横の画像を追加をクリックすると、何枚でも追加できます。
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
