<div class = "container mt-5" >
  <div class = "row" >
    <div class = "col-12">
      <div class = "text-center mb-5" >
        <h2 class = "display-3 text-secondary" >＊　about　＊</h2>
      </div>

      <div class = "text-center mb-5 text-secondary" >
        <p><%= image_tag 'IMG_1920.jpg', size: '200x250' %></p>
          <h3 class = "text-center mt-5">
            犬限定のトリミングスタイル投稿サイトです。<br>
            飼い主さんとトリマーさんがペットのトリミングスタイルを<br>
            投稿、共有し、情報交換にご利用ください。
          </h3>
        </p>
      </div>
    </div>
  </div>
</div>
