<div class="container mt-5">
  <div class="row">
    <div class="text-center">
      <h3>＊ 通知一覧 ＊</h3>
    </div>

    <table class= 'table mt-5'>
      <tbody>
          <% @notifications.each do |notification| %>
        <tr>
            <td><i class="fa-regular fa-square-check"></i> <%= link_to notification.message.message, room_path(notification.message.room) %></td>
            <td><%= button_to "マークを既読にする", mark_as_read_notification_path(notification), method: :patch %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
