<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="headline mt-5 ml-5">いいねした投稿</h4>
        <div class="row mt-3">
        <% @liked_posts.each do |post| %>
          <!--%= render 'public/shared/post_item', post: post %>-->
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
